*{ margin: 0; padding: 0; }

body
{
    background-color: #D2DBE9;
}
section
{
    padding-top: 20px;
    padding-bottom: 20px;
}
canvas
{
    display :block;
    border: 1px solid black;
    margin: 10px auto 0px;
}

button
{
    outline: 0;
    border: 0;
}
#drawingTools
{
    width: 800px;
    height: 165px;
    margin: 10px auto;
}
#otherTools
{
    width: 100%;
    height: 165px;
}

#otherTools button
{
    width: 20%;
    height: 40px;
    margin-top: 5px;
    background: #303030;
    color: white;
    cursor: pointer;
    float: left;
}

#textBox
{
    width: 20%;
    height: 40px;
    padding: 0px;
    background: #D2DBE9;
    color: black;
    position: absolute;
    visibility: hidden;
}


#redo { font: 25px impact; }
#undo { font: 25px impact; }
#text{ font: 25px impact; }
#triang{ font: 25px impact; }
#rec { font: 25px impact; }
#circle{ font: 25px impact; }
#clearCanvas{ font: 25px impact; }
#btndownload{ font: 25px impact; }
#Size1{ font: 10px impact; }
#Size2{ font: 20px impact; }
#Size3{ font: 30px impact; }
#Size4{ font: 40px impact; }
#otherTools #openFile{ font: 25px existence; }
#colorse { font: 25px impact; }
#eraser { font: 25px impact; }
#pencil { font: 25px impact; }
#file { visibility: hidden;}
#color { visibility: hidden;}

#otherTools button:hover {opacity: 0.5;}

#black { background: black; }
#white { background: white; }
#red { background: red; }
#green { background: green; }
#blue { background: blue; }
